body {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
  min-width: 360px; }

.login-container .title-header {
  color: #351330;
  margin: 2rem 0; }

.login-container button {
  background-color: #64908A;
  width: 100%; }

.login-container hr {
  margin-bottom: 20px; }

.landing-container {
  background-color: #424254; }
  .landing-container .header {
    color: #fff !important;
    font-size: 3rem;
    margin-top: 4rem; }
  .landing-container .description-text {
    color: #fff !important; }
  .landing-container .landing-button {
    background-color: #64908A;
    border-radius: 2rem;
    margin-top: 1rem;
    width: 100%; }
  .landing-container .login-button {
    font-weight: 700; }
    .landing-container .login-button:hover {
      background-color: #fff;
      color: #64908A; }
  .landing-container .new-account-button {
    background-color: #fff;
    color: #64908A;
    border: solid 1px #64908A; }
    .landing-container .new-account-button:hover {
      background-color: #64908A;
      color: #fff; }
  .landing-container .landing-actions-row {
    position: relative;
    top: 5rem; }

/* MEDIA QUERIES */
@media only screen and (max-width: 450px) {
  .landing-container .landing-actions-row {
    position: relative;
    top: 8.5rem; } }

nav {
  background-color: #CC2A41 !important; }

.user-creation-container .header {
  margin-top: 2rem; }

.user-creation-container .header-subtext {
  color: #696969; }

.user-creation-container .do-not-disturb-icon {
  color: #CC2A41;
  margin: 2.5rem 0 0 .5rem; }

.user-creation-container .check-icon {
  color: #64908A;
  margin: 2.5rem 0 0 .5rem; }

.user-creation-container .create-user-button {
  width: 100%;
  background-color: #64908A; }

.swal2-modal .swal2-content ul:not(.browser-default) > li {
  list-style-type: disc;
  margin: .5rem 3rem; }
