// Color Palette from:
    //  https://www.colourlovers.com/palette/379413/you_are_beautiful

$primaryGrey: #383838;
$primaryPurple: #351330;
$primarySalmon: #CC2A41;
$primarySlate: #424254;
$primaryTeal: #64908A;
$primaryYellow: #FFFFCC;

$secondaryGrey: #5f5f5f;
$secondarySalmon: #db697a;
$secondarySlate: #676776;
$secondaryTeal: #c1d2d0;
$secondaryYellow: #ffffe5;

$strongYellow: #ffff80;
$subTextGrey: #faf7f7;
$white: #fff;
