// Color Palette from:
    //  https://www.colourlovers.com/palette/379413/you_are_beautiful

$primaryPurple: #351330;
$primarySlate: #424254;
$primaryTeal: #64908A;
$primaryYellow: #FFFFCC;
$primarySalmon: #CC2A41;

$subTextGrey: #696969;

$white: #fff;
