@import 'appColors';

.landing-container {
    background-color: $primarySlate;
    
    .header {
        color: $white !important;
        font-size: 3rem;
        margin-top: 4rem;
    }
    
    .description-text {
        color: $white !important;
        font-size: 1.25rem;
        margin-bottom: -4rem;
    }

    .login-button {
        font-weight: 700;
    }

    .landing-actions-row {
        position: relative;
        top: 5rem;
    }
}

/* MEDIA QUERIES */

@media only screen and (max-width: 450px) {
    .landing-container{
        .landing-actions-row {
            position: relative;
            top: 8.5rem;
        }
    }
}