@import './appColors';

nav {
    background-color: $primarySalmon !important;

    .nav-options-btn {
        background: transparent;
        box-shadow: none;
        -webkit-box-shadow: none;

        transition-duration: 0.5s;

        i {
            line-height: 2.2rem;
        }

        &:hover {
            background: transparent;
            box-shadow: none;
            -webkit-box-shadow: none;

            transition-duration: 0.5s;
            
            i {
                color: $primaryTeal;
                font-size: 2rem;
            }
        }
    }
}

@media only screen and (max-width: 993px) {
    .side-nav {
        color: black;
        padding: 1rem 2rem !important;

        .nav-options-btn {
            color: black;

            i {
                color: black;
            }
        }
    }
}