@import './appColors';

nav {
    background-color: $primarySalmon !important;

    .nav-options-large {
        &-btn {
            background: transparent;
            box-shadow: none;
            -webkit-box-shadow: none;

            transition-duration: 0.5s;

            i {
                line-height: 2.2rem;
            }

            &:hover {
                background: transparent;
                box-shadow: none;
                -webkit-box-shadow: none;

                transition-duration: 0.5s;
                
                i {
                    color: $primaryTeal;
                    font-size: 2rem;
                }
            }
        }
    }

    .nav-options-med-to-small {
        display: none;
    }
}

@media only screen and (max-width: 993px) {
    .side-nav {
        color: black;
        padding: 1rem 2rem !important;

        .nav-options-large {
            display: none;

            &-btn {
                display: none;
            }
        }
        .nav-options-med-to-small {
            display: block;
        }
    }
}