@import './appColors';

.user-creation-container {
    .header {
        margin-top: 2rem;
    }

    .header-subtext {
        color: $subTextGrey;
    }

    .do-not-disturb-tooltip {
        position: fixed !important;
    }

    .do-not-disturb-icon {
        color: $primarySalmon;
        margin: 2.5rem 0 0 .5rem;
    }

    .check-icon {
        color: $primaryTeal;
        margin: 2.5rem 0 0 .5rem;
    }

    .create-user-button {
        background-color: $primaryTeal;
        border-radius: 2rem;
        width: 100%;
    }
}

.swal2-modal {
    .swal2-content {
        ul:not(.browser-default)>li {
            list-style-type: disc;
            margin: .5rem 3rem;
        }
    }
}